.cellTableWidget {
    border-collapse: collapse;

    color: rgb(51, 51, 51);
}

.cellTableHeader {
    white-space : nowrap;
    background: rgb(249, 249, 249) linear-gradient(rgb(250, 250, 250) 0px, rgb(237, 237, 237) 100%) repeat-x;

    border: 1px solid rgb(209, 209, 209);

    text-shadow: none;
    font-size: 12px;
}

.cellTableOddRow {
    background-color: rgb(245, 245, 245);
}

.cellTableCell {
    border: 1px solid rgb(209, 209, 209);
}

.cellTableHoveredRow, .cellTableHoveredRowCell, .cellTableSelectedRow, .cellTableSelectedRowCell {
    background-color: rgb(213, 236, 249);
    border: 1px solid rgb(209, 209, 209);
}

    /*
    .cellTableWidget {}
    .cellTableFirstColumn {}
    .cellTableLastColumn {}
    .cellTableFooter {}
    .cellTableHeader {}
    .cellTableCell {}
    .cellTableFirstColumnFooter {}
    .cellTableFirstColumnHeader {}
    .cellTableLastColumnFooter {}
    .cellTableLastColumnHeader {}
    .cellTableSortableHeader {}
    .cellTableSortableHeader:hover {}
    .cellTableSortedHeaderAscending {}
    .cellTableSortedHeaderDescending {}
    .cellTableEvenRow {}
    .cellTableEvenRowCell {}
    .cellTableOddRow {}
    .cellTableOddRowCell {}
    .cellTableHoveredRow {}
    .cellTableHoveredRowCell {}
    .cellTableKeyboardSelectedRow {}
    .cellTableKeyboardSelectedRowCell {}
    .cellTableSelectedRow {}
    .cellTableSelectedRowCell {}
    .cellTableKeyboardSelectedCell {}
    */