.cellTableWidget {
    border-collapse: collapse;

    color: rgb(51, 51, 51);
}

.cellTableHeader {
    white-space : nowrap;
    background-color: rgb(249, 249, 249);
    background-image: linear-gradient(rgb(250, 250, 250) 0px, rgb(237, 237, 237) 100%);
    background-repeat: repeat-x;

    border-top-width: 1px;
    border-top-color: rgb(209, 209, 209);
    border-top-style: solid;

    border-bottom-width: 1px;
    border-bottom-color: rgb(209, 209, 209);
    border-bottom-style: solid;

    border-left-width: 1px;
    border-left-color: rgb(209, 209, 209);
    border-left-style: solid;

    border-right-width: 1px;
    border-right-color: rgb(209, 209, 209);
    border-right-style: solid;

    text-shadow: none;
    font-size: 12px;
}

.cellTableOddRow {
    background-color: rgb(245, 245, 245);
}

.cellTableCell {
    border-top-width: 1px;
    border-top-color: rgb(209, 209, 209);
    border-top-style: solid;

    border-left-width: 1px;
    border-left-color: rgb(209, 209, 209);
    border-left-style: solid;

    border-right-width: 1px;
    border-right-color: rgb(209, 209, 209);
    border-right-style: solid;

    border-bottom-width: 1px;
    border-bottom-color: rgb(209, 209, 209);
    border-bottom-style: solid;
}

.cellTableHoveredRow, .cellTableHoveredRowCell, .cellTableSelectedRow, .cellTableSelectedRowCell {
    border-bottom-color: rgb(167, 202, 223);
    background-color: rgb(213, 236, 249);

    border-top-width: 1px;
    border-top-color: rgb(209, 209, 209);
    border-top-style: solid;

    border-left-width: 1px;
    border-left-color: rgb(209, 209, 209);
    border-left-style: solid;

    border-right-width: 1px;
    border-right-color: rgb(209, 209, 209);
    border-right-style: solid;
}

    /*
    .cellTableWidget {}
    .cellTableFirstColumn {}
    .cellTableLastColumn {}
    .cellTableFooter {}
    .cellTableHeader {}
    .cellTableCell {}
    .cellTableFirstColumnFooter {}
    .cellTableFirstColumnHeader {}
    .cellTableLastColumnFooter {}
    .cellTableLastColumnHeader {}
    .cellTableSortableHeader {}
    .cellTableSortableHeader:hover {}
    .cellTableSortedHeaderAscending {}
    .cellTableSortedHeaderDescending {}
    .cellTableEvenRow {}
    .cellTableEvenRowCell {}
    .cellTableOddRow {}
    .cellTableOddRowCell {}
    .cellTableHoveredRow {}
    .cellTableHoveredRowCell {}
    .cellTableKeyboardSelectedRow {}
    .cellTableKeyboardSelectedRowCell {}
    .cellTableSelectedRow {}
    .cellTableSelectedRowCell {}
    .cellTableKeyboardSelectedCell {}
    */