.AlertBoxMessage, .AlertBoxOK {
    margin: 8px;
    width: 300px;
}

.AlertBoxMessage {
    max-height: 400px;
    overflow: auto;
}

.AlertBoxPanel {
    width: 100%;
}

td {
    /*
       Remove the default padding in table cells
    */
    padding: 0px;
}

.TopicReviewLayoutPanel {
    width: 100%;
    height: 100%
}

.TopicReviewHelpIframeParent {
    height: 100%;
}

.TopicReviewButtonLayoutPanel {
    border-spacing: 2px;
}

.ApplicationHeadingPanel {
    background-color: #030303;
    color: #CFCFCF;
    border-top: 3px solid #199dde;
    box-sizing: border-box;
}

.PressGangHeaderImage {
    /*
       Remove the space around the image in a <TD>
    */
    display:block;
}

.TopShortcutPanel {
    height: 55px;
    border-spacing: 0px;
}

.TopShortcutPanel td {
    /*
        This is required so DIVs in the TD can also use
        height: 100%
    */
    height: 100%;
}

.TopShortcutPanelCell {
    width:100%;
}

.TopShortcutMenu, .ContentSpecActionsMenu {
    border-spacing: 0px;
    height:100%;
}

.TopShortcutMenu table, .ContentSpecActionsMenu table {
    border-spacing: 0px;
    height: 100%;
    margin-left: -1px;
}

.VersionLabel, .AceEditorParent, .TopicViewIDField, .TopicViewRevisionNumberField, .TopicViewTitleField,
.TopicViewDetailsEndpointField, .TopicViewXMLEndpointField, .TopicViewWebDAVEndpointField, .TopicViewLocaleField,
.TopicViewDescriptionField, .PossibleChildrenResultsPanel, .TopicTagViewParentProjectsTable, .SearchResultsPanel,
.TopicRevisionDiffParentPanel, .TopicViewXMLDocTypeField {
    background-color: white;
}

.CloseButton {
    z-index: 10003;
}

.CloseAndEditButtonsParentCell {
    background-color: rgb(136, 74, 74);
    padding: 8px;
}

.LeftArrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 17.3px 10px 0;
    border-color: transparent rgb(136, 74, 74) transparent transparent;
}

.RightArrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 0 10px 17.3px;
    border-color: transparent transparent transparent rgb(136, 74, 74);
}

.TopArrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 17.3px 10px;
    border-color: transparent transparent rgb(136, 74, 74) transparent;
}

.BottomArrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 17.3px 10px 0 10px;
    border-color: rgb(136, 74, 74) transparent transparent transparent;
}

.HelpCalloutIFrame {
    width: 100%;
    height: 100%;
    border: 0px none transparent;
}

.ContentCell {
    background-color: white;
    border: 8px solid rgb(136, 74, 74);
}

.HelpCallout td {
    padding: 0px;
}

.HelpCallout {
    z-index: 10004;
    position: absolute;
    border-spacing: 0px;
}

.HelpOverlayMouseLockPanel {
    z-index: 10002;
}

.HelpOverlayDimmerPanel {
    z-index: 10000;
    background-color: black;
    opacity: 0.9;
}

.HelpOverlayMouseLockPanel, .HelpOverlayDimmerPanel {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.HelpCalloutContentParent {
    width: 400px;
    height: 300px;
    padding: 8px;
}

.ContextMenuIFrameParent {
    width: 400px;
    height: 300px;
    cursor: default;
}

.ContextMenuIFrame {
    width: 100%;
    height: 296px;
    border: 0px none transparent;
}

.TopicRenderedViewIFrameTableLoadingCell {
    display: none;
}

.TopicRenderedViewIFrameTableDisplayingCell {
    height: 100%;
}

.TopicRenderedViewIFrameTable {
    border-spacing: 0px;
    width: 100%;
    height: 99%;
    background-color: white;
}

.TopicRenderedViewIFrame, .WelcomeViewIFrame, .TopicRevisionHTMLDiffFrame, .TopicReviewHelpIframe, .WelcomeViewPanel {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

.TopicRevisionDiffButtonPanel {
    margin-top: 8px;
    margin-bottom: 8px;
    border-spacing: 2px;
}

.TopicRevisionDiffPanel {
    width: 100%;
    height: 100%;
}

.ace_marker-layer .dayOld,
.ace_marker-layer .weekOld,
.ace_marker-layer .monthOld,
.ace_marker-layer .yearOld,
.ace_marker-layer .older,
.ace_marker-layer .xmlerror
{
    position: absolute;
    z-index: -2;
}

.LegendParentPanel {
    float:right;
}

.Legend {
    float: left;
}

.BadPhraseLegend,
.MisspelledLegend,
.TagMatchLegend,
.BadWordLegend,
.EditedOneDayLegend,
.EditedOneWeekLegend,
.EditedOneMonthLegend,
.EditedOneYearLegend,
.EditedOlderLegend,
.XMLErrorLegend,
.RenderedDiffAddedText,
.RenderedDiffRemovedText
{
    margin: 2px;
    padding: 2px;
    float: left;
    font-size: smaller;
}

.RenderedDiffAddedText {
    background-color: rgba(0, 255, 0, 0.5);
}

.RenderedDiffRemovedText {
    background-color: rgba(255,0,0,0.5);
    text-decoration: line-through;
}

.dayOld, .ace_marker-layer .dayOld, .EditedOneDayLegend  {
    background-color: rgba(0, 0, 255, 0.20);
}

.weekOld, .ace_marker-layer .weekOld, .EditedOneWeekLegend {
    background-color: rgba(0, 255, 0, 0.20);
}

.monthOld, .ace_marker-layer .monthOld, .EditedOneMonthLegend {
    background-color: rgba(255, 255, 0, 0.20);
}

.yearOld, .ace_marker-layer .yearOld, .EditedOneYearLegend {
    background-color: rgba(255, 127, 63, 0.20);
}

.older, .ace_marker-layer .older, .EditedOlderLegend {
    background-color: rgba(255, 0, 0, 0.20);
}

.xmlerror, .ace_marker-layer .xmlerror, .XMLErrorLegend {
    background-color: rgba(255, 87, 0, 0.20);
}

.BadPhraseLegend, .ace_marker-layer div[class^='badphrase'] {
    background-color: rgba(133, 0, 255, 0.2);
}

.MisspelledLegend, .ace_marker-layer div[class^='misspelled'] {
    background-color: rgba(255, 0, 0, 0.2);
}

.TagMatchLegend, .ace_marker-layer div[class^='tagmatch'], .ace_marker-layer div[class^='specmatch'] {
    background-color: rgba(0, 64, 255, 0.20);
}

.BadWordLegend, .ace_marker-layer div[class^='badword']  {
    background-color: rgba(245, 255, 0, 0.2);
}

.ace_marker-layer .conditionExclusion {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.ace_marker-layer div[class^='badphrase'],
.ace_marker-layer div[class^='tagmatch'],
.ace_marker-layer div[class^='specmatch'],
.ace_marker-layer div[class^='misspelled'],
.ace_marker-layer div[class^='badword'] {
    position: absolute;
    z-index: -2;
}

.HelpCalloutSpinner {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -64px;
    top: 50%;
}

.TopicTagViewSpinner, .TopicRevisionViewSpinner, .TopicContentSpecViewSpinner, .TopicReviewSpinner {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.XmlTagsList {
    width: 100%;
}

.TopicXMLErrors {
    margin-top: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: none;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.ImportDialogMessage {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.ImportDialogMessagePanel {
    width: 100%;
}

.BulkImageUploadDescriptionField {
    width: 320px;
    height: 5em;
}

.BulkFileUploadDescriptionField {
    width: 320px;
    height: 5em;
}

/*
    The div referenced here is created by a scroll panel. We need to set it's height so
    the action buttons don't decrease in side when the horizontal scroll bar is present.
    The difference between Constants.ACTION_BAR_HEIGHT and the height set here is the
    space below the action buttons which will be filled by the scroll bar.
 */
.ViewActionButtonsParentPanelScroll>div, .ResultsActionButtonsParentPanelScroll>div, .TopActionParentPanel {
    height: 76px;
    background-image: linear-gradient(rgb(29, 29, 29) 0%, rgb(3, 3, 3) 100%);
}

.TopActionParentPanel {
    overflow: hidden;
    border-spacing: 0px;
    /*padding-top: 8px;
    padding-bottom: 8px;*/
    /*bottom: 16px !important;*/
}

.ViewActionButtonsParentPanelScroll, .ResultsActionButtonsParentPanelScroll {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

.SearchState, .BulkTagState {
    text-align: center;
}

.ServerTypeProduction {
    color: red;
}

.ServerTypeDevelopment {
    color: blue;
}

.HelpContents {
    width: 640px;
    height: 480px;
    border: none;
}

.PlainTextXMLDialogTextArea {
    width: 640px;
    height: 480px;
}

.gwt-DialogBox {
    /* needs to be higher than the z-index of the .gwt-PopupPanelGlass  */
    z-index: 15;
}

.gwt-PopupPanelGlass {
    /* The ACE editor uses a z-index of 3, so we need something higher here */
    z-index: 10;
}

.OrderedChildrenExistingListPanel {
    margin-left: 8px;
    background-color: white;
}

.OrderedChildrenSplitPanel > div {
    overflow: auto !important;
}

.OrderedChildrenListPanel {
    margin-right: 8px;
    background-color: white;
}

.FooterPanel {
    white-space: nowrap;
}

.TagCategoriesSplitPanel>div {
    overflow: auto !important;
}

.TagCategoriesListPanel {
    margin-right: 8px;
}

.TagCategoryTagsListPanel {
    margin-right: 8px;
    margin-left: 8px;
}

.TagCategoryTagsListPanel {
    margin-left: 8px;
}

.TagViewPanel, .CategoryViewPanel, .ProjectViewPanel {
    width: 100%;
}

.TagViewDescriptionTextCell, .CategoryViewDescriptionTextCell, .ProjectViewDescriptionTextCell {
    width: 100%;
}

.ProjectsScrollPanel, .CategoriesScrollPanel, .CategoryTagScroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.FilteredOptionsPanel, .TagFilteredOptionsPanel {
    margin-bottom: 8px;
}

.DialogBoxOKCancelPanel {
    margin-left: auto;
    border-spacing: 4px;
}

.ImageViewLanguageImageUploadButtonsCell {
    height: 3em;
}

.ImageViewDocbookFileNameLabelCell {
    white-space: nowrap;
}

.ImageViewLanguageImageFilenameLabel, .ImageViewLanguageImageDisplayLabel {
    white-space: nowrap;
}

body {
    background-color: #ffffff;
    color: black;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: small;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.TopActionGrandParentPanel {

}

.FilteredResultsTabMenu {
    border-spacing: 0px;
    height: 100%;
}

.TopActionPanel, .RenderedSplitViewMenuTable {
    /*width: 100%;*/
    border-spacing: 0px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    /*padding-bottom: 8px;
    padding-top: 8px;    */
}

.TopActionPanel td, .RenderedSplitViewMenuTable td {
    /*padding: 1px;*/
    height: 100%;
}

.TopActionPanel {
    position: relative;
}

.gwt-ToggleButton-down {
    /*background-color: #005492 !important;*/
}

.StartTabButtons {
    padding-left: 5px;
}

.EndTabButtons {
    padding-right: 5px;
}

.TopShortcutMenu > table {
    border-collapse: collapse;
}

.TopShortcutMenuItem, .ContentSpecActionsMenuItem {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;

    border-width: 1px;
    border-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(48, 48, 48, 1);
    border-right-color: rgba(48, 48, 48, 1);
    color: rgb(207, 207, 207);
    margin-left: -1px;

    vertical-align: top;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 100%;
    text-align: center;
    -moz-box-sizing: border-box;
    cursor: pointer;
}

.TopShortcutSubMenu, .ContentSpecActionsSubMenu {
    border: 1px solid #030303;
    color: rgb(207, 207, 207);
}

.TextButton {
    background-color: rgb(238, 238, 238);
    background-image: linear-gradient(rgb(250, 250, 250) 0%, rgb(237, 237, 237) 100%);
    background-repeat: repeat-x;
    border-bottom-color: rgb(183, 183, 183);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(183, 183, 183);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(183, 183, 183);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(183, 183, 183);
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 3px 0px;
    color: rgb(77, 82, 88);

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.TextButton:hover {
    background-color: rgb(238, 238, 238);
    background-image: none;
    background-repeat: repeat-x;
    border-bottom-color: rgb(183, 183, 183);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(183, 183, 183);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(183, 183, 183);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(183, 183, 183);
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 3px 0px;
}

.TopTab, .TopButton, .SubMenu {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;

    border-width: 1px;
    border-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(48, 48, 48, 1);
    border-right-color: rgba(48, 48, 48, 1);
    color: rgb(207, 207, 207);
    margin-left: -1px;

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 100%;
    text-align: center;
    cursor: pointer;

    max-width: 60px;
}

.TopTab:hover, .TopButton:hover, .SubMenu:hover {
    background-color: rgb(29, 29, 29);
    background-image: linear-gradient(rgb(54, 54, 54) 0%, rgb(29, 29, 29) 100%);
    border-top-color: rgb(92, 92, 92);
    border-left-color: rgba(48, 48, 48, 1);
    border-right-color: rgba(48, 48, 48, 1);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.TopTab {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-left-color: rgba(48, 48, 48, 1);
    border-right-color: rgba(48, 48, 48, 1);
    border-top-color: rgba(48, 48, 48, 1);
}

.TopTab:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.DownLabel {
    background-color: rgb(48, 48, 48);
    background-image: linear-gradient(rgb(67, 67, 67) 0%, rgb(48, 48, 48) 100%);
    background-origin: padding-box;
    background-repeat: repeat-x;
    background-size: auto;
    border-bottom-color: rgb(48, 48, 48);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: rgb(105, 105, 105);
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: none;
    color: rgb(241, 241, 241);

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 100%;
    text-align: center;
    cursor: default;
}

.TextButton.LeftTab, .DownLabel.LeftTab {
    border-radius: 0.5em 0.5em 0px 0px;
    text-align: center;
}

.TextButton.Error {
    background-image: linear-gradient(#880303 0%, #303030 100%);
}

.TextButton.Error:hover, .DownLabel.Error {
    background-image: linear-gradient(#CC0303 0%, #303030 100%);
}

.TextButton.Warning {
    background-image: linear-gradient(#FF6603 0%, #303030 100%);
}

.TextButton.Warning:hover, .DownLabel.Warning {
    background-image: linear-gradient(#FF8803 0%, #303030 100%);
}


.TextButton.gwt-PushButton-up-disabled,
.TextButton.gwt-CustomButton-up-disabled,
.gwt-MenuItem-disabled {
    color: rgba(127, 127, 127, 0.5);
    cursor: default;
}

.TextButton.gwt-PushButton-up-disabled:hover,
.TextButton.gwt-CustomButton-up-disabled:hover,
.gwt-MenuItem-disabled:hover {
    background-color: transparent;
    background-image: none;
}

.TopButton.gwt-PushButton-up-disabled:hover {
    border-top-color: rgba(0, 0, 0, 0);
}

.ContentLayoutPanel {

}

.ContentLayoutPanel>div {
    overflow: auto !important;
}

.PageTitleParentLayoutPanel {
    background-color: #EFEFEF;
    padding-left: 1em;
    font-size: x-large;
    width: 100%;
    height: 100%;
}

.ApplicationTitle {
    margin-left: 10px;
    white-space: nowrap;
    font-size: x-large;
    min-width: 400px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.PageTitle {
    margin-left: 10px;
    word-wrap: break-word;
}

.QuickSearchParentPanel {
    width: 100%;
    padding-right: 8px;
    font-size: medium;
}

.QuickSearchTextBox {
    margin: 0px;
    height: 100%;
}

.ProjectsLayout, .CategoriesLayout {
    height: 100%;
}

.ProjectsLayout td {
    vertical-align: top;
    padding: 0px;
}

.ProjectsButtonsLayout, .CategoriesButtonsLayout, .CategoryTagLayout {
    margin-right: 16px;
    background-color: white;
}

.ProjectsButtonsLayout td {
    padding-bottom: 2px;
    padding-top: 2px;
}

.CategoriesButtonsLayout td {
    padding-bottom: 2px;
    padding-top: 2px;
}

.CategoryTagLayout td {
    padding: 16px;
    vertical-align: middle;
}

.TagLabel, .LocaleLabel {
    min-width: 200px;
}

.CustomButton {
    width: 14em;
    height: 6em;
    vertical-align: top;
    border: 0px;
    color: rgb(77, 82, 88);
    background-image: linear-gradient(rgb(250, 250, 250) 0%, rgb(237, 237, 237) 100%);

    border-width: 1px;
    border-radius: 1px;
    border-color: rgb(183, 183, 183);
    border-style: solid;
}

.CustomButton:hover {
    background-color: rgb(238, 238, 238);
}

.CustomButtonDown {
    width: 14em;
    height: 6em;
    vertical-align: top;
    border: 0px;
    color: white;
    /*background-color: #006F85;*/
    background-image: linear-gradient(rgb(28, 172, 232) 0%, rgb(25, 152, 204) 100%);

    border-width: 1px;
    border-radius: 1px;
    border-color: rgb(38, 125, 161);
    border-style: solid;
}

.CustomButtonText {
    padding-left: 3px;
    vertical-align: middle;
}

.CustomButtonTextBold {
    padding-left: 3px;
    vertical-align: middle;
    font-weight: bold;
}

.CustomButtonTagsInclued {
    /*color: greenyellow; */
}

.CustomButtonTagsExcluded {
    /*color: #FF3333*/
}

.TopicSearchResultsAndViewParentPanel {
    height: 100%;
}

.EntityViewLayoutPanel {
    /*margin-left: 8px;*/
}

.ContentSpecErrors, .TopicViewDescriptionField, .FilterViewDescriptionField, .StringConstantViewValueField, .PropertyCategoryViewDescriptionField, .PropertyTagViewDescriptionField {
    width: 100%;
    height: 100%;
    min-height: 5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.TopicViewTitleField, .FilterViewNameField, .TopicViewDetailsEndpointField, .TopicViewXMLEndpointField, .TopicViewWebDAVEndpointField {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.TopicViewPanel, .StringConstantViewPanel {
    width: 100%;
    height: 100%;
}

.TranslatedTopicViewPanel, .ContentSpecViewPanel {
    width: 100%;
}

.FilterViewPanel, .IntegerConstantViewPanel, .BlobConstantViewPanel {
    width: 100%;
}

.TopicViewDetailCell, .FilterViewDetailCell, .ContentSpecViewDetailCell, .BlobConstantViewDetailCell, .StringConstantViewDetailCell,
.IntegerConstantViewDetailCell, .TagViewDetailCell, .CategoryViewDetailCell, .ProjectViewDetailCell, .PropertyTagViewDetailCell,
.PropertyCategoryViewDetailCell, .FileViewDetailCell, .ImageViewDetailCell {
    width: 100%;
    padding: 4px;
}

.TopicViewLabelCell, .FilterViewLabelCell, .ContentSpecViewLabelCell, .BlobConstantViewLabelCell, .StringConstantViewLabelCell,
.IntegerConstantViewLabelCell, .TagViewLabelCell, .CategoryViewLabelCell, .ProjectViewLabelCell, .PropertyTagViewLabelCell,
.PropertyCategoryViewLabelCell, .FileViewLabelCell, .ImageViewLabelCell {
    white-space: nowrap;
    padding: 4px 0px;
    vertical-align: top;
}

.TopicViewDescriptionCell, .FilterViewDescriptionCell, .ContentSpecViewDescriptionCell, .BlobConstantViewDescriptionCell,
.StringConstantViewDescriptionCell, .IntegerConstantViewDescriptionCell, .TagViewDescriptionCell, .CategoryViewDescriptionCell,
.ProjectViewDescriptionCell, .PropertyTagViewDescriptionCell, .PropertyCategoryViewDescriptionCell, .FileViewDescriptionCell,
.ImageViewDescriptionCell {
    height: 100%;
    padding: 4px;
}

.TopicXMLViewPanel {
    width: 100%;
    height: 100%;
}

.TopicXMLViewACEPanel, .ContentSpecTextViewACEPanel {
    width: 100%;
    height: 100%;
    background-color: white;
}

.TopicXMLViewXMLField, .ContentSpecTextViewTextField {
    height: 100%;
}

.RightAlignedActionButtons, .CustomFooterPanel {
    width: 100%;
}

.TopicXMLErrorsViewPanel {
    width: 100%;
}

.TopicXMLErrorsViewField {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.TopicSearchTopicViewDetailsPanel {
    height: 100%;
    overflow-y: auto;
}

.TopicSearchResultsAndViewParentPanel {
    /*border: 3px solid #e7e7e7;*/
}

.ThirdLevelLayoutPanel {
    /*margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;*/
}

.TopicRenderedViewDiv {
    overflow-y: auto;
    padding-right: 8px;
}

.TopicViewLayoutPanel {
    /*margin-left: 8px;
    margin-bottom: 8px;*/
}

.ResultsViewLayoutPanel {
    /*margin-right: 8px;*/
}

.TopicTagViewProjectRow {
    font-size: 2em;
}

.TopicTagViewCategoryRow {
    font-size: 1.5em;
}

.TopicTagViewCategoryRow, .TopicTagViewProjectRow {
    min-width: 250px;
    vertical-align: middle;
}

.TopicTagViewTagRow {
    min-width: 150px;
    vertical-align: middle;
}

.TopicTagViewContentPanel div {
    overflow-y: auto !important;
}

.TopicTagViewProjectsTable td {
    padding: 0px;
}

.TopicTagViewProjectTable {
    border-spacing: 0px;
}

.TopicTagViewNewTagTable td {
    padding: 0px;
}

.TopicTagViewCategoryTable {
    border-top: thin solid black;
}

.TopicTagViewProjectsTable {
    border-spacing: 0px;
}

.TopicTagViewProjectsTable>tbody>tr:nth-child(even) td {
    background-color: rgb(212, 237, 250);
}

.TopicTagViewCategoriesTable {
    border-spacing: 0px;
}

.TopicTagViewCategoriesTable>tbody>tr:nth-child(even) td {
    /*background-color: #FDFFEA;*/

}

.TopicTagViewNewTagProjectsList, .TopicTagViewNewTagCategoriesList, .TopicTagViewNewTagTagsList {
    min-width: 150px;
}

.TopicTagViewNewTagParentPanel td {
    vertical-align: middle !important;
}

.ImageViewIDText {
    background-color: white;
}

.ImageViewParentDockPanel {
    height: 100%;
    width: 100%;
}

.ImageViewParentDockPanel>tbody>tr:nth-child(2)>td {
    height: 100%;
}

.ImageViewLanguageImageTabPanel {
    height: 100%;
    width: 100%;
    background-color: white;
}

.ImageViewLanguageImageTab {
    width: 100%;
    height: 100%;
    padding: 8px;
}

.ImageViewLanguageImageTab td {
    vertical-align: top;
}

.ImageViewDetailsTable td {
    vertical-align: top;
}

.ImageViewLanguageImageDisplayLabelCell {
    height: 100%;
}

.ImageViewLanguageImageTabPanel>div:nth-child(3)>div>div {
    overflow: auto !important;
}

.ImageTemplatesTabPanel {
    min-height: 9em;
}

.ImageViewTemplateText {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    resize: none;
    outline: none;
}

.ImageViewDescriptionText, .TagViewDescriptionText, .CategoryViewDescriptionText, .ProjectViewDescriptionText, .FileViewDescriptionText {
    width: 100%;
    height: 5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.ImageViewLanguageImageFilenameText {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.TopicSearchTopicViewButtonsPanel, .EntitySearchTagViewButtonsParentPanel, .EntitySearchTagsResultButtonsParentPanel {
    /*padding-top: 8px;
    padding-bottom: 8px;*/
    border-spacing: 0px;
    height: 100%;
    background-image: linear-gradient(rgb(29, 29, 29) 0%, rgb(3, 3, 3) 100%);
}

.EntitySearchTagViewButtonsPanel, .EntitySearchTagsResultButtonsPanel {
    height: 100%;
}

.FieldViewPanel,
.FilterViewPanel,
.SettingsPanel,
.SysInfoPanel,
.LocalePanel,
.WelcomeViewPanel {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.ProjectsLayout,
.ProcessPanel,
.EntitySearchTopicViewDetailsPanel {
    right: 10px !important;
    bottom: 10px !important;
    left: 10px !important;
    height: auto  !important;
    width: auto !important;
}

.TopicSearchTopicViewButtonsPanel>div {
    overflow-x: auto;
}

.LogicHeaderCell {
    background-color: rgb(0, 153, 211);
    color: white;
    font-weight: bold;
    text-align: center;
}

.LogicDetailsTable {
    width: 100%;
}

.LogicDetailsTable td {
    padding: 0px;
    text-align: center;

}

.FileViewLanguageFileUploadButtonsCell {
    height: 3em;
}

.FileViewFilenameLabel .FileViewLanguageFileFilenameLabel {
    white-space: nowrap;
}

.FileViewParentDockPanel {
    height: 100%;
    width: 100%;
}

.FileViewParentDockPanel>tbody>tr:nth-child(2)>td {
    height: 100%;
}

.FileViewLanguageFileTabPanel {
    height: 100%;
    width: 100%;
}

.FileViewLanguageFileTab {
    width: 100%;
    height: 80px;
    padding: 8px;
}

.FileViewLanguageFileTab td {
    vertical-align: top;
}

.FileViewLanguageFileTabPanel>div:nth-child(3)>div>div {
    overflow: auto !important;
}

.FileViewFilenameText, .FileViewFilePathText, .FileViewLanguageFileFilenameText {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.FilteredResultsPanel {
    width: 100%;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.FilteredResultsTable, .ProcessResultsTable {
    width: 100%;
}

.TagViewNameText, .CategoryViewNameText, .ProjectViewNameText, .PropertyTagViewNameField, .PropertyCategoryViewNameField {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.PropertyTagViewRegexField {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.ContentSpecViewDetailsEndpointField, .ContentSpecViewTextEndpointField {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

tr.FilteredResultsTableSelectedRow, tr.ProcessResultsTableSelectedRow, tr[class*='FilteredResultsTableSelectedRow']>td, tr[class*='ProcessResultsTableSelectedRow']>td {
    background: rgb(213, 236, 249);
    color: rgb(51, 51, 51);
    border-bottom-color: rgb(167, 202, 223);
    background-color: rgb(213, 236, 249);

    border-top-width: 1px;
    border-top-color: rgb(209, 209, 209);
    border-top-style: solid;

    border-left-width: 1px;
    border-left-color: rgb(209, 209, 209);
    border-left-style: solid;

    border-right-width: 1px;
    border-right-color: rgb(209, 209, 209);
    border-right-style: solid;
}

textarea {
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-top: 1px solid #999;
}

input[type="text"], input[type="password"] {
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-top: 1px solid #999;
    /* Set the font size to small as firefox doesn't appear to inherit font-size for text boxes */
    font-size: small;
}

/* Used to make readonly fields look less editable in Firefox */
textarea[readonly=""], textarea[readonly] , input[readonly], input[readonly=""] {
    cursor: default;
}

.ShortcutPanelParent {
    margin-right: 8px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ShortcutPanel>tbody>tr>td {
    padding: 2px 1px;
}

.ShortcutPanel {
    width: 100%;
}

.ShortcutCollapseMenuContent {
    border-collapse: collapse;
    margin-top: 2px;
}

.ShortcutCollapseMenuContent td {
    padding: 2px 0px;
}

.ShortcutCollapseMenuHeader {
    background-color: #00C618;
    border: 1px solid #005492;
    padding: 3px 3px 3px 2px;
    color: white;
    height: 100%;
    width: 100%;
}

.ShortcutCollapseMenuHeader img {
    vertical-align: middle;
}

.ShortcutCollapseMenu {
    width: 100%;
}

.gwt-DisclosurePanel a {
    text-decoration: none;
}

/* The checkboxes/radiobuttons and labels don't align, so this fixes that */
.gwt-CheckBox, .gwt-RadioButton {
    display: table;
    border-collapse: collapse
}

.gwt-CheckBox > label, .gwt-RadioButton > label {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1px;
}

.FieldViewValueCell>select {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

td.FieldViewLabelCell {
    padding: 4px 0px;
}

td.TopicRenderingInfoEntitiesCell {
    width: 500px;
}

.TopicRenderedViewErrorLabel {
    color: red;
    padding: 4px 0px;
    font-weight: bold;
    text-align: center;
}

div.AnchorPushButton, div.AnchorMenuItem {
    position: relative;
    cursor: pointer;
}

a.AnchorPushButton, a.AnchorMenuItem {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-decoration: none;
    z-index: 10;
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.SysInfoLabel {
    margin-right: 8px;
}

.ProcessLogsText, .FreezePreviewText {
    width: 800px;
    height: 500px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
}

.ProcessTabPanel {
    margin-top: 8px;
}

.ProcessResultsPanel {
    width: 100%;
    height: 100%;
    background-color: white;
}

.ProcessResultsPanel > tbody > tr > td:first-child {
    height: 100%;
}

.ProcessResultsTableIdColumn, .ProcessResultsTableDateColumn, .ProcessResultsTableLogsColumn,
.ProcessResultsTableStatusColumn, .ProcessResultsTableStartedByColumn {
    width: 1px;
    white-space: nowrap;
}

.ProcessResultsTable tr {
    line-height: 35px;
}

.ProcessResultsTableCancelColumn {
    width: 1px;
    white-space: nowrap;
    text-align: center;
}

.SuccessfulStatus td:nth-child(3), div.SuccessfulStatus {
    color: #00BB00;
}

.FailedStatus td:nth-child(3), div.FailedStatus {
    color: red;
}

.CheckBoxList {
    border: 1px solid #BBB;
    border-radius: 4px;
}

.ProcessSyncLocaleListBox {
    max-height: 125px;
    width: 100%;
}

.ContentSpecActionsSubMenu td {
    padding: 8px !important;
}

.ProcessWaitingButtonPanel {
    border-spacing: 4px 0px;
}

table.ProcessWaitingTable {
    border-spacing: 4px;
    padding: 0px 4px;
}

.ProcessWaitingMessage {
    margin: 4px;
    overflow: auto;
    width: 300px;
}

.ProcessWaitingLabel {
    font-weight: bold;
}

.ProcessActionImage {
    display: inline-block;
    padding: 0px 3px;
    cursor: pointer;
}

.SettingsLocaleTable {
    margin: auto;
}

.SettingsLocaleCell, .SettingsOtherCell {
    border: 1px solid #000000;
    border-radius: 4px;
    overflow: hidden;
}

.SettingsLocaleCellScroll, .SettingsOtherCellScroll {
    width: 100px;
    height: 150px;
}

.SettingsLocaleCellList div div,
.SettingsOtherCellList div div {
    padding: 0px 2px;
}

.gwt-DisclosurePanel-open.SettingsDisclosurePanel .header {
    border-bottom: 1px solid black;
}

.SettingsDisclosurePanel {
    border: 1px solid black;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
}

.SettingsDisclosurePanel .header {
    background-color: #EFEFEF;
    border-spacing: 0px;
    color: black;
    width: 100%;
    font-weight: bold;
}

.SettingsDisclosurePanel .header table {
    padding: 4px 4px;
}

.SettingsDisclosurePanel .content {
    margin: auto;
    padding: 4px;
    width: 100%;
}

.SettingsEntitiesField {
    width: 70px;
    text-align: center;
}

.SettingsEntitiesTable tr:nth-child(even) {
    background-color: #f1f5f9;
}

.SettingsEntitiesTable>tbody>tr>td {
    width: 50%;
}

.SettingsEntitiesTable table {
    width: 100%;
    padding: 3px 4px;
}

/*.SettingsActionPanel, .SettingsPanel {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}*/

.SettingsTable {
    width: 100%;
}

.SettingsLabel {
    width: 100px;
    white-space: nowrap;
}

.SettingsLabel div {
    padding: 4px;
}

.SettingsField input {
    width: 98%
}

.SettingsZanataTable input,
.SettingsUndefinedTable input {
    display: inline-block;
    width: 100%;
    min-width: 20px;
}

.SettingsZanataTable tfoot th {
    padding-right: 0px;
}

.SettingsZanataNameFooter input,
.SettingsZanataProjectVersionFooter input {
    width: 100px;
}

.SettingsZanataIDFooter input {
    width: 80px;
}

.SettingsZanataProjectFooter input {
    width: 120px;
}

.SettingsZanataURLFooter {
    padding-right: 10px !important;
    width: 100%
}

.SettingsKeyFooter {
    width: 40%;
}

.SettingsValueFooter {
    width: 100%;
}

#MessageSaveDialog {
    width: 95%;
    height: 4em;
}

#UsernameSaveDialog {
    width: 95%;
}

#ContentSpecListSaveDialog {
    height: 230px;
    margin: 10px 0px;
}

.gwt-CheckBox.Error {
    color: #ff0000;
}

.TopicSourceURLResults, .TopicSourceURLResults input {
    width: 100%;
}

.TopicSourceURLResults button {
    white-space: nowrap;
}

.TopicSourceURLResultsURLField, .TopicSourceURLResultsTitleField {
    width: 45%;
}

.TopicRenderingOptionsParent {
    color: rgb(207, 207, 207);
    white-space: nowrap;
}

.TopicRenderingOptionsSpecs {
    width:100%;
}