.AlertBoxMessage, .AlertBoxOK {
    margin: 8px;
    width: 300px;
}

.AlertBoxPanel {
    width: 100%;
}

td {
    /*
       Remove the default padding in table cells
    */
    padding: 0px;
}

.TopicReviewLayoutPanel {
    width: 100%;
    height: 100%
}

.TopicReviewHelpIframeParent {
    height: 100%;
}

.TopicReviewButtonLayoutPanel {
    border-spacing: 2px;
}

.PressGangHeaderImage {
    /*
       Remove the space around the image in a <TD>
    */
    display:block;
}

.TopShortcutPanel {
    height: 55px;
    border-spacing: 0px;
}

.TopShortcutPanel td {
    /*
        This is required so DIVs in the TD can also use
        height: 100%
    */
    height: 100%;
}

.TopShortcutPanelCell {
    width:100%;
}

.TopShortcutMenu {
    border-spacing: 0px;
    height:100%;
}

.TopShortcutMenu table {
    border-spacing: 0px;
    height: 100%;
}

.TopShortcutMenuItem {
    background-color: #00C618;
    border: 1px solid #009200;
    color: white;
    padding: 8px;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.TopShortcutSubMenu {
    background-color: #00C618;
    border: 1px solid #009200;
    color: white;
}

.VersionLabel, .AceEditorParent, .TopicViewIDField, .TopicViewRevisionNumberField, .TopicViewTitleField,
.TopicViewDetailsEndpointField, .TopicViewXMLEndpointField, .TopicViewWebDAVEndpointField, .TopicViewLocaleField,
.TopicViewDescriptionField, .PossibleChildrenResultsPanel, .TopicTagViewParentProjectsTable, .SearchResultsPanel,
.TopicRevisionDiffParentPanel {
    background-color: white;
}

.CloseButton {
    z-index: 10003;
}

.CloseAndEditButtonsParentCell {
    background-color: rgb(136, 74, 74);
    padding: 8px;
}

.LeftArrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 17.3px 10px 0;
    border-color: transparent rgb(136, 74, 74) transparent transparent;
}

.RightArrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 0 10px 17.3px;
    border-color: transparent transparent transparent rgb(136, 74, 74);
}

.TopArrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 17.3px 10px;
    border-color: transparent transparent rgb(136, 74, 74) transparent;
}

.BottomArrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 17.3px 10px 0 10px;
    border-color: rgb(136, 74, 74) transparent transparent transparent;
}

.HelpCalloutIFrame {
    width: 100%;
    height: 100%;
    border: 0px none transparent;
}

.ContentCell {
    background-color: white;
    border-color: rgb(136, 74, 74);
    border-width: 8px;
    border-style: solid;
}

.HelpCallout td {
    padding: 0px;
}

.HelpCallout {
    z-index: 10004;
    position: absolute;
    border-spacing: 0px;
}

.HelpOverlayMouseLockPanel {
    z-index: 10002;
}

.HelpOverlayDimmerPanel {
    z-index: 10000;
    background-color: black;
    opacity: 0.9;
}

.HelpOverlayMouseLockPanel, .HelpOverlayDimmerPanel {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.HelpCalloutContentParent {
    width: 400px;
    height: 300px;
    padding: 8px;
}

.ContextMenuIFrameParent {
    width: 400px;
    height: 300px;
    cursor: default;
}

.ContextMenuIFrame {
    width: 100%;
    height: 296px;
    border: 0px none transparent;
}

.TopicRenderedViewIFrameTableLoadingCell {
    display: none;
}

.TopicRenderedViewIFrameTableDisplayingCell {
    height: 100%;
}

.TopicRenderedViewIFrameTable {
    border-spacing: 0px;
    width: 100%;
    height: 99%;
    background-color: white;
}

.TopicRenderedViewIFrame, .WelcomeViewIFrame, .TopicRevisionHTMLDiffFrame, .TopicReviewHelpIframe, .WelcomeViewPanel {
    width: 100%;
    height: 100%;
    border: none;
}

.TopicRevisionDiffButtonPanel {
    margin-top: 8px;
    margin-bottom: 8px;
    border-spacing: 2px;
}

.TopicRevisionDiffPanel {
    width: 100%;
    height: 100%;
}

.ace_marker-layer .dayOld,
.ace_marker-layer .weekOld,
.ace_marker-layer .monthOld,
.ace_marker-layer .yearOld,
.ace_marker-layer .older,
.ace_marker-layer .xmlerror
{
    position: absolute;
    z-index: -2;
}

.LegendParentPanel {
    float:right;
}

.Legend {
    float: left;
}

.BadPhraseLegend,
.MisspelledLegend,
.TagMatchLegend,
.BadWordLegend,
.EditedOneDayLegend,
.EditedOneWeekLegend,
.EditedOneMonthLegend,
.EditedOneYearLegend,
.EditedOlderLegend,
.XMLErrorLegend
{
    margin: 2px;
    padding: 2px;
    float: left;
}

.dayOld, .ace_marker-layer .dayOld, .EditedOneDayLegend  {
    background-color: rgba(0, 0, 255, 0.20);
}

.weekOld, .ace_marker-layer .weekOld, .EditedOneWeekLegend {
    background-color: rgba(0, 255, 0, 0.20);
}

.monthOld, .ace_marker-layer .monthOld, .EditedOneMonthLegend {
    background-color: rgba(255, 255, 0, 0.20);
}

.yearOld, .ace_marker-layer .yearOld, .EditedOneYearLegend {
    background-color: rgba(255, 127, 63, 0.20);
}

.older, .ace_marker-layer .older, .EditedOlderLegend {
    background-color: rgba(255, 0, 0, 0.20);
}

.xmlerror, .ace_marker-layer .xmlerror, .XMLErrorLegend {
    background-color: rgba(255, 87, 0, 0.20);
}

.BadPhraseLegend, .ace_marker-layer div[class^='badphrase'] {
    background-color: rgba(133, 0, 255, 0.2);
}

.MisspelledLegend, .ace_marker-layer div[class^='misspelled'] {
    background-color: rgba(255, 0, 0, 0.2);
}

.TagMatchLegend, .ace_marker-layer div[class^='tagmatch'], .ace_marker-layer div[class^='specmatch'] {
    background-color: rgba(0, 64, 255, 0.20);
}

.BadWordLegend, .ace_marker-layer div[class^='badword']  {
    background-color: rgba(245, 255, 0, 0.2);
}


.ace_marker-layer div[class^='badphrase'],
.ace_marker-layer div[class^='tagmatch'],
.ace_marker-layer div[class^='specmatch'],
.ace_marker-layer div[class^='misspelled'],
.ace_marker-layer div[class^='badword']{
    position: absolute;
    z-index: -2;

}

.HelpCalloutSpinner {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -64px;
    top: 50%;
}

.TopicTagViewSpinner, .TopicRevisionViewSpinner, .TopicContentSpecViewSpinner, .TopicReviewSpinner {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.XmlTagsList {
    width: 100%;
}

.TopicXMLErrors {
    margin-top: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: none;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

.ImportDialogMessage {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.ImportDialogMessagePanel {
    width: 100%;
}

.BulkImageUploadDescriptionField {
    width: 320px;
    height: 5em;
}

.BulkFileUploadDescriptionField {
    width: 320px;
    height: 5em;
}

/*
    The div referenced here is created by a scroll panel. We need to set it's height so
    the action buttons don't decrease in side when the horizontal scroll bar is present.
    The difference between Constants.ACTION_BAR_HEIGHT and the height set here is the
    space below the action buttons which will be filled by the scroll bar.
 */
.ViewActionButtonsParentPanelScroll>div, .ResultsActionButtonsParentPanelScroll>div, .TopActionParentPanel {
    height: 84px;
}

.TopActionParentPanel {
    overflow: hidden;
    border-spacing: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    /*bottom: 16px !important;*/
}

.ViewActionButtonsParentPanelScroll, .ResultsActionButtonsParentPanelScroll {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

.SearchState, .BulkTagState {
    text-align: center;
}

.ServerTypeProduction {
    color: red;
}

.ServerTypeDevelopment {
    color: blue;
}

.HelpContents {
    width: 640px;
    height: 480px;
    border: none;
}

.PlainTextXMLDialogTextArea {
    width: 640px;
    height: 480px;
}

.gwt-DialogBox {
    /* needs to be higher than the z-index of the .gwt-PopupPanelGlass  */
    z-index: 15;
}

.gwt-PopupPanelGlass {
    /* The ACE editor uses a z-index of 3, so we need something higher here */
    z-index: 10;
}

.OrderedChildrenExistingListPanel {
    margin-left: 8px;
    background-color: white;
}

.OrderedChildrenSplitPanel > div {
    overflow: auto !important;
}

.OrderedChildrenListPanel {
    margin-right: 8px;
    background-color: white;
}

.FooterPanel {
    white-space: nowrap;
}

.TagCategoriesSplitPanel>div {
    overflow: auto !important;
}

.TagCategoriesListPanel {
    margin-right: 8px;
}

.TagCategoryTagsListPanel {
    margin-right: 8px;
    margin-left: 8px;
}

.TagCategoryTagsListPanel {
    margin-left: 8px;
}

.TagViewPanel, .CategoryViewPanel, .ProjectViewPanel {
    width: 100%;
}

.TagViewDescriptionTextCell, .CategoryViewDescriptionTextCell, .ProjectViewDescriptionTextCell {
    width: 100%;
}

.ProjectsScrollPanel, .CategoriesScrollPanel, .CategoryTagScroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.FilteredOptionsPanel, .TagFilteredOptionsPanel {
    margin-bottom: 8px;
}

.DialogBoxOKCancelPanel {
    margin-left: auto;
    border-spacing: 4px;
}

.ImageViewLanguageImageUploadButtonsCell {
    height: 3em;
}

.ImageViewDocbookFileNameLabelCell {
    white-space: nowrap;
}

.ImageViewLanguageImageFilenameLabel, .ImageViewLanguageImageDisplayLabel {
    white-space: nowrap;
}

body {
    background-color: #ffffff;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.TopActionGrandParentPanel {

}

.FilteredResultsTabMenu {
    border-spacing: 0px;
    height: 100%;
}

.TopActionPanel, .RenderedSplitViewMenuTable {
    width: 100%;
    border-spacing: 0px;
    height: 100%;
    /*padding-bottom: 8px;
    padding-top: 8px;    */
}

.TopActionPanel td, .RenderedSplitViewMenuTable td {
    padding: 1px;
    height: 100%;
}

.TopActionPanel {
    position: relative;
}

.gwt-ToggleButton-down {
    background-color: #005492 !important;
}

.TextButton {
    background-color: #0072C6;
    border: 1px solid #005492;
    padding: 8px;
    color: white;
    height: 100%;
    text-align: center;
    -moz-box-sizing: border-box;
}

.TextButton.TopTab, .DownLabel.TopTab {
    border-top-left-radius: 0.5em 0.5em;
    border-top-right-radius: 0.5em 0.5em;
    text-align: center;
}

.TextButton.LeftTab, .DownLabel.LeftTab {
    border-top-left-radius: 0.5em 0.5em;
    border-bottom-left-radius: 0.5em 0.5em;
    text-align: center;
}

.TextButton.SubMenu {
    background-color: #00C618;
    border-color: #009200;
}

.TextButton.ExternalLink {
    background-color: rgb(93, 0, 146);
    border-color: rgb(49, 0, 99);
}

.TextButton.Error {
    background-color: #C60000;
    border-color: #920000;
}

.TextButton.Error:hover, .DownLabel.Error {
    background-color: #920000;
    border-color: #920000;
}

.TextButton.Warning {
    background-color: #FF8000;
    border-color: #FF6000;
}

.TextButton.Warning:hover, .DownLabel.Warning {
    background-color: #FF6000;
    border-color: #FF6000;
}

.TextButton:hover, .DownLabel {
    background-color: #005492;
    border: 1px solid #005492;
    padding: 8px;
    color: white;
    height: 100%;
    text-align: center;
    -moz-box-sizing: border-box;
}

.TextButton.SubMenu:hover {
    background-color: #009200;
    border-color: #009200;
}

.TextButton.ExternalLink:hover {
    background-color: rgb(49, 0, 99);
    border-color: rgb(49, 0, 99);
}

.TextButton.gwt-PushButton-up-disabled {
    background-color: #B4B4B4;
}

.ContentLayoutPanel>div {
    overflow: auto !important;
}

.PageTitleParentLayoutPanel {
    background-color: #EFEFEF;
    padding-left: 1em;
    font-size: x-large;
    width: 100%;
    height: 100%;
}

.QuickSearchParentPanel {
    width: 100%;
    padding-right: 8px;
    font-size: medium;
}

.QuickSearchTextBox {
    margin-right: 10px;
}

.ProjectsLayout, .CategoriesLayout {
    height: 100%;
}

.ProjectsLayout td {
    vertical-align: top;
    padding: 0px;
}

.ProjectsButtonsLayout, .CategoriesButtonsLayout, .CategoryTagLayout {
    margin-right: 16px;
    background-color: white;
}

.ProjectsButtonsLayout td {
    padding-bottom: 2px;
    padding-top: 2px;
}

.CategoriesButtonsLayout td {
    padding-bottom: 2px;
    padding-top: 2px;
}

.CategoryTagLayout td {
    padding: 16px;
    vertical-align: middle;
}

.TagLabel, .LocaleLabel {
    min-width: 200px;
}

.CustomButton {
    width: 14em;
    height: 6em;
    vertical-align: top;
    border: 0px;
    color: white;
    /*background-color: #0097B4;*/
    background-image: linear-gradient(bottom, rgb(36, 50, 70) 32%, rgb(59, 77, 100) 66%);
    background-image: -o-linear-gradient(bottom, rgb(36, 50, 70) 32%, rgb(59, 77, 100) 66%);
    background-image: -moz-linear-gradient(bottom, rgb(36, 50, 70) 32%, rgb(59, 77, 100) 66%);
    background-image: -webkit-linear-gradient(bottom, rgb(36, 50, 70) 32%, rgb(59, 77, 100) 66%);
    background-image: -ms-linear-gradient(bottom, rgb(36, 50, 70) 32%, rgb(59, 77, 100) 66%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.32, rgb(36, 50, 70)), color-stop(0.66, rgb(59, 77, 100)));
}

.CustomButton:hover {
    /*background-color: #1AAAC5;*/
    background-image: linear-gradient(bottom, rgb(52, 73, 102) 32%, rgb(90, 118, 153) 66%);
    background-image: -o-linear-gradient(bottom, rgb(52, 73, 102) 32%, rgb(90, 118, 153) 66%);
    background-image: -moz-linear-gradient(bottom, rgb(52, 73, 102) 32%, rgb(90, 118, 153) 66%);
    background-image: -webkit-linear-gradient(bottom, rgb(52, 73, 102) 32%, rgb(90, 118, 153) 66%);
    background-image: -ms-linear-gradient(bottom, rgb(52, 73, 102) 32%, rgb(90, 118, 153) 66%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.32, rgb(52, 73, 102)), color-stop(0.66, rgb(90, 118, 153)));
}

.CustomButtonDown {
    width: 14em;
    height: 6em;
    vertical-align: top;
    border: 0px;
    color: white;
    /*background-color: #006F85;*/
    background-image: linear-gradient(bottom, rgb(13, 18, 26) 32%, rgb(45, 59, 76) 66%);
    background-image: -o-linear-gradient(bottom, rgb(13, 18, 26) 32%, rgb(45, 59, 76) 66%);
    background-image: -moz-linear-gradient(bottom, rgb(13, 18, 26) 32%, rgb(45, 59, 76) 66%);
    background-image: -webkit-linear-gradient(bottom, rgb(13, 18, 26) 32%, rgb(45, 59, 76) 66%);
    background-image: -ms-linear-gradient(bottom, rgb(13, 18, 26) 32%, rgb(45, 59, 76) 66%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.32, rgb(13, 18, 26)), color-stop(0.66, rgb(45, 59, 76)));
}

.CustomButtonText {
    padding-left: 3px;
    vertical-align: middle;
}

.CustomButtonTextBold {
    padding-left: 3px;
    vertical-align: middle;
    font-weight: bold;
}

.CustomButtonTagsInclued {
    color: greenyellow;
}

.CustomButtonTagsExcluded {
    color: #FF3333
}

.TopicSearchResultsAndViewParentPanel {
    height: 100%;
}

.EntityViewLayoutPanel {
    margin-left: 8px;
}

.TopicViewDescriptionField, .FilterViewDescriptionField, .StringConstantViewValueField, .PropertyCategoryViewDescriptionField, .PropertyTagViewDescriptionField {
    width: 100%;
    height: 100%;
    min-height: 5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.TopicViewTitleField, .FilterViewNameField, .TopicViewDetailsEndpointField, .TopicViewXMLEndpointField, .TopicViewWebDAVEndpointField {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.TopicViewPanel, .StringConstantViewPanel {
    width: 100%;
    height: 100%;
}

.TranslatedTopicViewPanel, .ContentSpecViewPanel {
    width: 100%;
}

.FilterViewPanel, .IntegerConstantViewPanel, .BlobConstantViewPanel {
    width: 100%;
}

.TopicViewDetailCell, .FilterViewDetailCell, .ContentSpecViewDetailCell, .BlobConstantViewDetailCell, .StringConstantViewDetailCell,
.IntegerConstantViewDetailCell, .TagViewDetailCell, .CategoryViewDetailCell, .ProjectViewDetailCell, .PropertyTagViewDetailCell,
.PropertyCategoryViewDetailCell, .FileViewDetailCell, .ImageViewDetailCell {
    width: 100%;
    padding: 4px;
}

.TopicViewLabelCell, .FilterViewLabelCell, .ContentSpecViewLabelCell, .BlobConstantViewLabelCell, .StringConstantViewLabelCell,
.IntegerConstantViewLabelCell, .TagViewLabelCell, .CategoryViewLabelCell, .ProjectViewLabelCell, .PropertyTagViewLabelCell,
.PropertyCategoryViewLabelCell, .FileViewLabelCell, .ImageViewLabelCell {
    white-space: nowrap;
    padding: 4px 0px;
    vertical-align: top;
}

.TopicViewDescriptionCell, .FilterViewDescriptionCell, .ContentSpecViewDescriptionCell, .BlobConstantViewDescriptionCell,
.StringConstantViewDescriptionCell, .IntegerConstantViewDescriptionCell, .TagViewDescriptionCell, .CategoryViewDescriptionCell,
.ProjectViewDescriptionCell, .PropertyTagViewDescriptionCell, .PropertyCategoryViewDescriptionCell, .FileViewDescriptionCell,
.ImageViewDescriptionCell {
    height: 100%;
    padding: 4px;
}

.TopicXMLViewPanel {
    width: 100%;
    height: 100%;
}

.TopicXMLViewACEPanel, .ContentSpecTextViewACEPanel {
    width: 100%;
    height: 100%;
    background-color: white;
}

.TopicXMLViewXMLField, .ContentSpecTextViewTextField {
    height: 100%;
}

.RightAlignedActionButtons, .CustomFooterPanel {
    width: 100%;
}

.TopicXMLErrorsViewPanel {
    width: 100%;
}

.TopicXMLErrorsViewField {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.TopicSearchTopicViewDetailsPanel {
    height: 100%;
    overflow-y: auto;
}

.TopicSearchResultsAndViewParentPanel {
    /*border: 3px solid #e7e7e7;*/
}

.ThirdLevelLayoutPanel {
    margin-left: 8px;
    margin-right: 8px;
    /*margin-bottom: 8px;*/
}

.TopicRenderedViewDiv {
    overflow-y: auto;
    padding-right: 8px;
}

.TopicViewLayoutPanel {
    margin-left: 8px;
    margin-bottom: 8px;
}

.ResultsViewLayoutPanel {
    margin-right: 8px;
}

.TopicTagViewProjectRow {
    font-size: 2em;
}

.TopicTagViewCategoryRow {
    font-size: 1.5em;
}

.TopicTagViewCategoryRow, .TopicTagViewProjectRow {
    min-width: 250px;
    vertical-align: middle;
}

.TopicTagViewTagRow {
    min-width: 150px;
    vertical-align: middle;
}

.TopicTagViewContentPanel div {
    overflow-y: auto !important;
}

.TopicTagViewProjectsTable td {
    padding: 0px;
}

.TopicTagViewProjectTable {
    border-spacing: 0px;
}

.TopicTagViewNewTagTable td {
    padding: 0px;
}

.TopicTagViewCategoryTable {
    border-top: thin solid black;
}

.TopicTagViewProjectsTable {
    border-spacing: 0px;
}

.TopicTagViewProjectsTable>tbody>tr:nth-child(even) td {
    background-color: #E2EFFC;
}

.TopicTagViewCategoriesTable {
    border-spacing: 0px;
}

.TopicTagViewCategoriesTable>tbody>tr:nth-child(even) td {
    /*background-color: #FDFFEA;*/

}

.TopicTagViewNewTagProjectsList, .TopicTagViewNewTagCategoriesList, .TopicTagViewNewTagTagsList {
    min-width: 150px;
}

.TopicTagViewNewTagParentPanel td {
    vertical-align: middle !important;
}

.ImageViewIDText {
    background-color: white;
}

.ImageViewParentDockPanel {
    height: 100%;
    width: 100%;
}

.ImageViewParentDockPanel>tbody>tr:nth-child(2)>td {
    height: 100%;
}

.ImageViewLanguageImageTabPanel {
    height: 100%;
    width: 100%;
    background-color: white;
}

.ImageViewLanguageImageTab {
    width: 100%;
    height: 100%;
    padding: 8px;
}

.ImageViewLanguageImageTab td {
    vertical-align: top;
}

.ImageViewDetailsTable td {
    vertical-align: top;
}

.ImageViewLanguageImageDisplayLabelCell {
    height: 100%;
}

.ImageViewLanguageImageTabPanel>div:nth-child(3)>div>div {
    overflow: auto !important;
}

.ImageTemplatesTabPanel {
    min-height: 9em;
}

.ImageViewTemplateText {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    resize: none;
    outline: none;
}

.ImageViewDescriptionText, .TagViewDescriptionText, .CategoryViewDescriptionText, .ProjectViewDescriptionText, .FileViewDescriptionText {
    width: 100%;
    height: 5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.ImageViewLanguageImageFilenameText {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.TopicSearchTopicViewButtonsPanel, .EntitySearchTagViewButtonsParentPanel, .EntitySearchTagsResultButtonsParentPanel {
    padding-top: 8px;
    padding-bottom: 8px;
    border-spacing: 0px;
    height: 100%;
}

.EntitySearchTagViewButtonsPanel, .EntitySearchTagsResultButtonsPanel {
    height: 100%;
}

.EntitySearchTopicViewDetailsPanel {
    margin-bottom: 8px;
}

.TopicSearchTopicViewButtonsPanel>div {
    overflow-x: auto;
}

.LogicHeaderCell {
    background-color: rgb(0, 114, 198);
    color: white;
    font-weight: bold;
    text-align: center;
}

.LogicDetailsTable {
    width: 100%;
}

.LogicDetailsTable td {
    padding: 0px;
    text-align: center;

}

.FileViewLanguageFileUploadButtonsCell {
    height: 3em;
}

.FileViewFilenameLabel .FileViewLanguageFileFilenameLabel {
    white-space: nowrap;
}

.FileViewParentDockPanel {
    height: 100%;
    width: 100%;
}

.FileViewParentDockPanel>tbody>tr:nth-child(2)>td {
    height: 100%;
}

.FileViewLanguageFileTabPanel {
    height: 100%;
    width: 100%;
}

.FileViewLanguageFileTab {
    width: 100%;
    height: 80px;
    padding: 8px;
}

.FileViewLanguageFileTab td {
    vertical-align: top;
}

.FileViewLanguageFileTabPanel>div:nth-child(3)>div>div {
    overflow: auto !important;
}

.FileViewFilenameText, .FileViewFilePathText, .FileViewLanguageFileFilenameText {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.FilteredResultsPanel {
    width: 100%;
    background-color: white;
}

.FilteredResultsTable {
    width: 100%;
}

.TagViewNameText, .CategoryViewNameText, .ProjectViewNameText, .PropertyTagViewNameField, .PropertyCategoryViewNameField {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.PropertyTagViewRegexField {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.ContentSpecViewDetailsEndpointField, .ContentSpecViewTextEndpointField {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

tr.FilteredResultsTableSelectedRow {
    background-color: #0072C6;
    color: white;
}

tr[class*='FilteredResultsTableSelectedRow']>td {
    border-color: #0072C6;
}

textarea {
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-top: 1px solid #999;
}

input[type="text"] {
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-top: 1px solid #999;
    /* Set the font size to small as firefox doesn't appear to inherit font-size for text boxes */
    font-size: small;
}

/* Used to make readonly fields look less editable in Firefox */
textarea[readonly=""], textarea[readonly] , input[readonly], input[readonly=""] {
    cursor: default;
}

.ShortcutPanelParent {
    margin-right: 8px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ShortcutPanel>tbody>tr>td {
    padding: 2px 1px;
}

.ShortcutPanel {
    width: 100%;
}

.ShortcutCollapseMenuContent {
    border-collapse: collapse;
    margin-top: 2px;
}

.ShortcutCollapseMenuContent td {
    padding: 2px 0px;
}

.ShortcutCollapseMenuHeader {
    background-color: #00C618;
    border-color: #009200;
    border: 1px solid #005492;
    padding: 3px 3px 3px 2px;
    color: white;
    height: 100%;
    width: 100%;
}

.ShortcutCollapseMenuHeader img {
    vertical-align: middle;
}

.ShortcutCollapseMenu {
    width: 100%;
}

.gwt-DisclosurePanel a {
    text-decoration: none;
}

/* The checkboxes/radiobuttons and labels don't align, so this fixes that */
.gwt-CheckBox, .gwt-RadioButton {
    display: table;
    border-collapse: collapse
}

.gwt-CheckBox > label, .gwt-RadioButton > label {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1px;
}

.FieldViewValueCell>select {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

td.FieldViewLabelCell {
    padding: 4px 0px;
}

td.TopicRenderingInfoEntitiesCell {
    width: 350px;
}