/*
 * Copyright 2011-2014 Red Hat, Inc.
 *
 * This file is part of PressGang CCMS.
 *
 * PressGang CCMS is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * PressGang CCMS is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with PressGang CCMS. If not, see <http://www.gnu.org/licenses/>.
 */

.gwt-MenuBar {
    cursor: default;
}

.gwt-MenuBar.gwt-MenuItem {
    cursor: default;
}

.gwt-MenuBar-vertical .gwt-MenuItem.gwt-MenuItem-selected {
    background: #d4edfa !important;
    border-color: #b3d3e7;
}

.gwt-MenuBar .gwt-MenuItem.gwt-MenuItem-selected {
    background: rgb(29, 29, 29) linear-gradient(rgb(54, 54, 54) 0%, rgb(29, 29, 29) 100%);
}

.gwt-MenuBar-vertical {
    margin-top: 0px;
    margin-left: -1px;
    margin-right: -1px;
    border: 1px solid #b6b6b6;
    color: #333;
}
.gwt-MenuBar-vertical table {
    border-collapse: collapse;
}

.gwt-MenuBar-vertical .gwt-MenuItem > div {
    margin: -3px -8px;
    padding: 3px 8px;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
    padding: 3px 8px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.gwt-MenuBarPopup {
    z-index: 1000;
    margin-top: 1px;
    margin-left: -1px;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    clip: auto !important;
}
