.gwt-MenuBar {
    cursor: default;
}

.gwt-MenuBar.gwt-MenuItem {
    cursor: default;
}

.gwt-MenuItem.gwt-MenuItem-selected {
    background: rgb(29, 29, 29) linear-gradient(rgb(54, 54, 54) 0%, rgb(29, 29, 29) 100%);
}

.gwt-MenuBar-vertical {
    margin-top: 0px;
    margin-left: 0px;
    background: #030303;
}
.gwt-MenuBar-vertical table {
    border-collapse: collapse;
}

.gwt-MenuBar-vertical .gwt-MenuItem > div {
    margin: -3px -8px;
    padding: 3px 8px;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
    padding: 3px 8px;
}

.gwt-MenuBarPopup {
    z-index: 10;
}