.gwt-PopupPanelGlass {
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.gwt-DialogBox .Caption {
    background: rgb(248, 248, 248);
    padding: 10px 10px 10px 4px;
    cursor: default;
    font-family: "Open Sans", Arial Unicode MS, Arial, sans-serif;
    font-weight: bold;
}

.gwt-DialogBox .dialogContent {
}

.gwt-DialogBox .dialogMiddleCenter {
    padding: 3px;
    background: white;
}

.gwt-DialogBox .dialogBottomCenter {
    background-color: white;
}

.gwt-DialogBox .dialogMiddleLeft {
    background-color: white;
}

.gwt-DialogBox .dialogMiddleRight {
    background-color: white;
}

.gwt-DialogBox .dialogTopLeftInner {
    width: 10px;
    height: 8px;
    zoom: 1;
}

.gwt-DialogBox .dialogTopRightInner {
    width: 12px;
    zoom: 1;
}

.gwt-DialogBox .dialogBottomLeftInner {
    width: 10px;
    height: 12px;
    zoom: 1;
}

.gwt-DialogBox .dialogBottomRightInner {
    width: 12px;
    height: 12px;
    zoom: 1;
}

.gwt-DialogBox .dialogTopLeft {
    background-color: rgb(248, 248, 248);
}

.gwt-DialogBox .dialogTopRight {
    background-color: rgb(248, 248, 248);
}

.gwt-DialogBox .dialogBottomLeft {
    background-color: white;
}

.gwt-DialogBox .dialogBottomRight {
    background-color: white;
}

* html .gwt-DialogBox .dialogTopLeftInner {
    width: 10px;
    overflow: hidden;
}

* html .gwt-DialogBox .dialogTopRightInner {
    width: 12px;
    overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomLeftInner {
    width: 10px;
    height: 12px;
    overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomRightInner {
    width: 12px;
    height: 12px;
    overflow: hidden;
}