/*
 * Copyright 2011-2014 Red Hat, Inc.
 *
 * This file is part of PressGang CCMS.
 *
 * PressGang CCMS is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * PressGang CCMS is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with PressGang CCMS. If not, see <http://www.gnu.org/licenses/>.
 */

.gwt-PopupPanelGlass {
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.gwt-DialogBox .Caption {
    background: rgb(248, 248, 248);
    padding: 10px 10px 10px 4px;
    cursor: default;
    font-family: "Open Sans", Arial Unicode MS, Arial, sans-serif;
    font-weight: bold;
}

.gwt-DialogBox .dialogContent {
}

.gwt-DialogBox .dialogMiddleCenter {
    padding: 3px;
    background: white;
}

.gwt-DialogBox .dialogBottomCenter {
    background-color: white;
}

.gwt-DialogBox .dialogMiddleLeft {
    background-color: white;
}

.gwt-DialogBox .dialogMiddleRight {
    background-color: white;
}

.gwt-DialogBox .dialogTopLeftInner {
    width: 10px;
    height: 8px;
    zoom: 1;
}

.gwt-DialogBox .dialogTopRightInner {
    width: 12px;
    zoom: 1;
}

.gwt-DialogBox .dialogBottomLeftInner {
    width: 10px;
    height: 12px;
    zoom: 1;
}

.gwt-DialogBox .dialogBottomRightInner {
    width: 12px;
    height: 12px;
    zoom: 1;
}

.gwt-DialogBox .dialogTopLeft {
    background-color: rgb(248, 248, 248);
}

.gwt-DialogBox .dialogTopRight {
    background-color: rgb(248, 248, 248);
}

.gwt-DialogBox .dialogBottomLeft {
    background-color: white;
}

.gwt-DialogBox .dialogBottomRight {
    background-color: white;
}

* html .gwt-DialogBox .dialogTopLeftInner {
    width: 10px;
    overflow: hidden;
}

* html .gwt-DialogBox .dialogTopRightInner {
    width: 12px;
    overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomLeftInner {
    width: 10px;
    height: 12px;
    overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomRightInner {
    width: 12px;
    height: 12px;
    overflow: hidden;
}