/*
	GWT does not include any default styling for tab panels. These CSS classes provide a simple style.
*/
/*.gwt-TabLayoutPanel {
    height: 100%;
}*/

/** the tab bar */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
    height: 100%;
}

/** the individual tab in the tab bar */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(221, 221, 221);
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(77, 82, 88);
    height:100%;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    color: rgb(0, 153, 211);
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(221, 221, 221);
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-top-style: solid;
    border-top-width: 1px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabInner {
    padding: 0px 4px;
}