/*
  Copyright 2011-2014 Red Hat

  This file is part of PresGang CCMS.

  PresGang CCMS is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  PresGang CCMS is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License
  along with PresGang CCMS.  If not, see <http://www.gnu.org/licenses/>.
*/

/*
	GWT does not include any default styling for tab panels. These CSS classes provide a simple style.
*/
/*.gwt-TabLayoutPanel {
    height: 100%;
}*/

/** the tab bar */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
    height: 100%;
    padding-left: 1px;
    z-index: 1;
}

/** the individual tab in the tab bar */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    background: rgb(255, 255, 255) none;
    background-origin: padding-box;
    background-size: auto;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-radius: 1px 1px 0px 0px;
    border: 1px solid rgb(221, 221, 221);
    box-sizing: border-box;
    color: rgb(77, 82, 88);
    height:100%;
    margin-left: -1px;
    cursor: pointer;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    color: rgb(0, 153, 211);
    border-bottom-color: transparent;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected:hover {
    color: rgb(0, 153, 211);
    cursor:default;
}

.gwt-TabLayoutPanel > div:nth-child(3) {
    margin-top: -1px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-radius: 1px 1px 0px 0px;
    border: 1px solid rgb(221, 221, 221);
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabInner {
    padding: 5px 15px;
    font-size:14px;
}

.gwt-TabLayoutPanelTab:hover {
    color: rgb(34, 34, 34);
}

/** the tab bar */
.gwt-TabBar {
    height: 100%;
    z-index: 1;
    border-spacing: 0px;
}

.gwt-TabBar td {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.gwt-TabBarFirst-wrapper {
    display: none;
}

/** the individual tab in the tab bar */
.gwt-TabBar .gwt-TabBarItem-wrapper {
    background: rgb(255, 255, 255) none;
    background-origin: padding-box;
    background-size: auto;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-radius: 1px 1px 0px 0px;
    border: 1px solid rgb(221, 221, 221);
    box-sizing: border-box;
    color: rgb(77, 82, 88);
    height:100%;
    margin-left: -1px;
    cursor: pointer;
}

.gwt-TabBar .gwt-TabBarItem-wrapper-selected {
    color: rgb(0, 153, 211);
    border-bottom-color: transparent;
}

.gwt-TabBar .gwt-TabBarItem-wrapper-selected:hover {
    color: rgb(0, 153, 211);
    cursor:default;
}

.gwt-TabBar .gwt-TabBarItem {
    padding: 5px 15px;
    font-size:14px;
    outline: none;
}