body {
	background-color: #ffffff;
	color: black;
	font-family: Arial, sans-serif;
	font-size: small;
	margin: 0px;
	padding: 0px;
}

html {
	margin: 0px;
	padding: 0px;
}

.TopLevelPanel {
	width: 100%;
}

.SpacedElement {
	padding: 8px;
}

.PageTitle {
	font-size: x-large;
	width: 100%;
	background-color: #EFEFEF;
}

.ShortcutAndContentPanel {
	padding-top: 16px;
	padding-left: 16px;
	width: 100%;
}

.ContentParentPanel
{
	width: 100%;
}

.ContentPanel {
	padding-left: 16px;
	width: 100%;
}

.ProjectsLayout td {
	vertical-align: top;
	padding: 0px;
}

.ProjectsButtonsLayout td {
	padding-bottom: 2px;
	padding-top: 2px;
}

.CategoriesButtonsLayout td {
	padding-bottom: 2px;
	padding-top: 2px;
}

.ProjectLayout {
	border-spacing: 0px;
	padding: 0px;
}

.ProjectLayout td {
	vertical-align: top;
}

.CategoryLayout {
	margin-right: 32px;
	margin-bottom: 32px;
	width: 100%;
}

.CategoryTagLayout {
	width: 100%;
}

.CategoryTagLayout td {
	padding: 16px;
	vertical-align: middle;
}

.CategoryTitle {
	text-align: center;
	font-weight: bold;
	background-color: #BEBEBE;
	color: white;
	padding: 1em;
}

.TagLabel {
	min-width: 200px;
}

.CustomButton {
	width: 14em;
	height: 6em;
	vertical-align: top;
	border: 0px;
	color: white;
	/*background-color: #0097B4;*/
	background-image: linear-gradient(bottom, rgb(36, 50, 70) 32%,
		rgb(59, 77, 100) 66% );
	background-image: -o-linear-gradient(bottom, rgb(36, 50, 70) 32%,
		rgb(59, 77, 100) 66% );
	background-image: -moz-linear-gradient(bottom, rgb(36, 50, 70) 32%,
		rgb(59, 77, 100) 66% );
	background-image: -webkit-linear-gradient(bottom, rgb(36, 50, 70) 32%,
		rgb(59, 77, 100) 66% );
	background-image: -ms-linear-gradient(bottom, rgb(36, 50, 70) 32%,
		rgb(59, 77, 100) 66% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.32, rgb(36,
		50, 70) ), color-stop(0.66, rgb(59, 77, 100) ) );
}

.CustomButton:hover { /*background-color: #1AAAC5;*/
	background-image: linear-gradient(bottom, rgb(52, 73, 102) 32%,
		rgb(90, 118, 153) 66% );
	background-image: -o-linear-gradient(bottom, rgb(52, 73, 102) 32%,
		rgb(90, 118, 153) 66% );
	background-image: -moz-linear-gradient(bottom, rgb(52, 73, 102) 32%,
		rgb(90, 118, 153) 66% );
	background-image: -webkit-linear-gradient(bottom, rgb(52, 73, 102) 32%,
		rgb(90, 118, 153) 66% );
	background-image: -ms-linear-gradient(bottom, rgb(52, 73, 102) 32%,
		rgb(90, 118, 153) 66% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.32, rgb(52,
		73, 102) ), color-stop(0.66, rgb(90, 118, 153) ) );
}

.CustomButtonDown {
	width: 14em;
	height: 6em;
	vertical-align: top;
	border: 0px;
	color: white;
	/*background-color: #006F85;*/
	background-image: linear-gradient(bottom, rgb(13, 18, 26) 32%,
		rgb(45, 59, 76) 66% );
	background-image: -o-linear-gradient(bottom, rgb(13, 18, 26) 32%,
		rgb(45, 59, 76) 66% );
	background-image: -moz-linear-gradient(bottom, rgb(13, 18, 26) 32%,
		rgb(45, 59, 76) 66% );
	background-image: -webkit-linear-gradient(bottom, rgb(13, 18, 26) 32%,
		rgb(45, 59, 76) 66% );
	background-image: -ms-linear-gradient(bottom, rgb(13, 18, 26) 32%,
		rgb(45, 59, 76) 66% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.32, rgb(13,
		18, 26) ), color-stop(0.66, rgb(45, 59, 76) ) );
}

.CustomButtonText {
	padding-left: 3px;
	vertical-align: middle;
}

.CustomButtonTextBold {
	padding-left: 3px;
	vertical-align: middle;
	font-weight: bold;
}

.CustomButtonTagsInclued {
	color: greenyellow;
}

.CustomButtonTagsExcluded {
	color: #FF3333
}

.TopicSearchResultsAndViewPanel {
	width: 100%;
}

.TopicSearchResultsAndViewPanel td {
	vertical-align: top;
}

.TopicViewXMLField,.TopicViewDescriptionField {
	width: 100%;
	height: 200px;
}

.TopicViewIDField,.TopicViewTitleField,.TopicViewLocaleField {
	width: 100%;
}

.ShortcutParentPanel
{
	vertical-align: top;
}

.TopicSearchResultsPanel, .TopicSearchTopicViewPanel
{
	width: 50%;
}

.TopicViewPanel
{
	width: 100%;
}

.TopicViewDetail
{
	width: 100%
}

.TopicViewLabel
{
	white-space: nowrap;
}
