.gwt-SplitLayoutPanel-HDragger {
    background: #EFEFEF url(images/thumb_vertical.png) center center no-repeat;
    cursor: col-resize;
}

.gwt-SplitLayoutPanel-VDragger {
    background: #EFEFEF url(images/thumb_horz.png) center center no-repeat;
    cursor: row-resize;
}